*{
    box-sizing: border-box;
    margin: 5px;
}

 @media(max-width:650px){
     #nav-bar > ul{
       flex-direction: column;  
       text-align: center;
    }
}
@media(max-width:650px){
    #nav-bar li{
        padding-bottom: 5px;
    }
}

#nav-bar > ul{
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

li{
    display: list-item;
    text-align: center;
    unicode-bidi: isolate;
    list-style: none;
}


.formulario input[type='email']{
 max-width: 250px;
 width: 100%;
 padding: 10px;
 align-items: center;
 justify-content: center;
}

.formulario input[type='submit']{
    max-width: 120px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color:#f1690fcc;
}

a{
    cursor: pointer;
    text-decoration: underline;
}

.nav-link a:visited{
    color: #000;
}

.nav-link a:hover{
    color: #f1690fcc;
}

input{
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118));
}

.formulario{
 display: flex;
 flex-direction: column;
 align-items:center;
 justify-content:center;
 text-align: center;
 height: 100px;
 margin-top: 30px;
}

.especificaciones{
    margin: 30px;
}

.subtitulo{
  margin: 0px;
  height: 100%;
}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

img{
    width: 40%;
    height: 45%;
    max-width: 150px;
}


h1{
    display: block;
    font-size: 2.5em;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

h2{
    display: block;
    font-size: 2em;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

.iconos{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

 p{
    display: block;
    margin:1em, 1em, 0px, 0px;
    font-family: sans-serif;
    text-align: center;
 }

 .asador{
    width: 100px;
    height: 100px; 
 } 

 .cortes:hover{
    font-size:20px;
    cursor:default;
 }

 

.cards{
    display: flex;
}


.tipos{
font-size:20px;
}


#caracateristicas .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

